<style>
       @media screen and (min-width: 1301px) and (max-width: 1400px) {
            #acomodo {
                margin-left: 230px;
            }
            #acomodo1 {
                margin-left: 50px;
            }
            #mapa1{
            	margin-left: 30px;
            }
            #mapa2{
            		margin-top: -570px;
            		margin-left: 20px;
            }
            
        }

        @media screen and  (max-width: 1400px) {
            #acomodo {
                margin-left: 230px;
            }
            #acomodo1 {
                margin-left: 50px;
            }
              #mapa1{
            	margin-left: 30px;
            }
            #mapa2{
            		margin-top: -570px;
            		margin-left: 20px;
            }
           
        }

        @media screen  and (max-width: 1199px) {
            #acomodo {
                margin-left: 180px;
            }
            #acomodo1 {
                margin-left: 50px;
            }
              #mapa1{
            	margin-left: 20px;
            }
            #mapa2{
            		margin-top: -570px;
            		margin-left: 15px;
            }

        }

        @media screen and (max-width: 999px) {
            #acomodo {
                margin-left: 110px;
            }
            #acomodo1 {
                margin-left: 50px;
            }
                #mapa1{
            	margin-left: 20px;
            }
           
        }


        @media screen and (max-width: 700px) {
            #acomodo {
                margin-left: 110px;
            }
            #acomodo1 {
                margin-left: 50px;
            }
                #mapa1{
            	margin-left: 15px;
            }
            #mapa2{
            		margin-top: -570px;
            		margin-left: 10px;
            }
          
        }
        @media screen and (max-width:435px) {
        	
            #acomodo {
                margin-left: 0px;
            }
            #acomodo1 {
                margin-left: 0px;
            }
             
             #mapa1{
          	
   			 margin-left: 30px;
    		width: 350px;
    		height: 400px;
            }
            #mapa2{
          	margin-top: 0px;
   			 margin-left: 30px;
    		width: 350px;
    		height: 400px;
            }

        }

		@media screen and (max-width:384px) {
			
            #acomodo {
                margin-left: 0px;
            }
            #acomodo1 {
                margin-left: 0px;
            }
             
             #mapa1{
          	
   			 margin-left: 30px;
    		width: 350px;
    		height: 400px;
            }
            #mapa2{
          	margin-top: 0px;
   			 margin-left: 30px;
    		width: 350px;
    		height: 400px;
            }
            

		}
        @media screen and (max-width:375px) {
        	   #acomodo {
                margin-left: 0px;
            }
            #acomodo1 {
                margin-left: 0px;
            }
             
             #mapa1{
          	
   			 margin-left: 30px;
    		width: 300px;
    		height: 400px;
            }
            #mapa2{
          	margin-top: 0px;
   			 margin-left: 30px;
    		width: 300px;
    		height: 400px;
            }	

        }
		@media screen and (max-width:360px) {
			
            #acomodo {
                margin-left: 0px;
            }
            #acomodo1 {
                margin-left: 0px;
            }
             
             #mapa1{
          	
   			 margin-left: 30px;
    		width: 300px;
    		height: 400px;
            }
            #mapa2{
          	margin-top: 0px;
   			 margin-left: 30px;
    		width: 300px;
    		height: 400px;
            }	
		}
        @media screen and (max-width:320px) {
        	
              #acomodo {
                margin-left: 0px;
            }
            #acomodo1 {
                margin-left: 0px;
            }
             
             #mapa1{
          	
   			 margin-left: 30px;
    		width: 260px;
    		height: 300px;
            }
            #mapa2{
          	margin-top: 0px;
   			 margin-left: 30px;
    		width: 260px;
    		height: 300px;
            }	
            
        }
    </style>